[Desktop Entry]
Version=1.0
Name=TorX GTK4
GenericName=Internet Messenger
Exec=torx-gtk4
Terminal=false
Type=Application
Icon=org.torx.gtk4
StartupWMClass=TorX
Comment=A chat software for those on the Interpol Red List
Categories=GNOME;GTK;Network;InstantMessaging;Chat;
Keywords=Internet;Tor;InstantMessaging;Chat;
X-MultipleArgs=false
StartupNotify=true
X-GNOME-UsesNotifications=true
## Overview: https://wiki.archlinux.org/title/Desktop_entries#Basics
## Localization: https://developer-old.gnome.org/integration-guide/stable/desktop-files.html.en
## Test config --> desktop-file-validate org.torx.gtk4.desktop
## Place icon in --> /usr/share/pixmaps		&&	/usr/share/icons/hicolor/48x48/apps/org.gnome.TorX.png or ~/.icons/
## Place in -->  ~/.local/share/applications/
## Then run --> update-desktop-database -v ~/.local/share/applications
